<aside class="menu">
  <h4 class="title is-4">Stores</h4>

  <p class="menu-label">Singletons</p>
  <ul class="menu-list">
    @for (store of stores; track store.name) {
      @if (store.type === ContentType.SINGLETON) {
        <li>
          <a [routerLink]="['stores', store.name]">
            <scms-content-type-icon [contentType]="ContentType.SINGLETON">
            </scms-content-type-icon>

            <span>{{ store.label || store.name }}</span>
          </a>
        </li>
      }
    }
  </ul>

  <p class="menu-label">Collections</p>
  <ul class="menu-list">
    @for (store of stores; track store.name) {
      @if (store.type === ContentType.COLLECTION) {
        <li>
          <a [routerLink]="['stores', store.name]">
            <scms-content-type-icon [contentType]="ContentType.COLLECTION">
            </scms-content-type-icon>

            <span>{{ store.label || store.name }}</span>
          </a>
        </li>
      }
    }
  </ul>

  <p class="menu-label">Trees</p>
  <ul class="menu-list">
    @for (store of stores; track store.name) {
      @if (store.type === ContentType.TREE) {
        <li>
          <a [routerLink]="['stores', store.name]">
            <scms-content-type-icon [contentType]="ContentType.TREE">
            </scms-content-type-icon>

            <span>{{ store.label || store.name }}</span>
          </a>
        </li>
      }
    }
  </ul>
</aside>
