<h3 class="title is-3">Edit document</h3>

<nav class="breadcrumb">
  <ul>
    <li>
      <span class="icon">
        @switch (contentSchema.type) {
          @case (ContentType.SINGLETON) {
            <i class="fa-regular fa-file"></i>
          }
          @case (ContentType.COLLECTION) {
            <i class="fa-solid fa-list"></i>
          }
          @case (ContentType.TREE) {
            <i class="fa-solid fa-folder-tree"></i>
          }
        }
      </span>
      <a>
        <span>{{ contentSchema.label || contentSchema.name }}</span>
      </a>
    </li>

    @for (token of originalDocument.path; track token) {
      <li>
        <a href="#">{{ token }}</a>
      </li>
    }

    <li>
      <span>
        <a href="#">{{ originalDocument.id }}</a>
      </span>
    </li>
  </ul>
</nav>

<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary"
                    [disabled]="!documentChanged"
                    (click)="saveChanges()">
              <span class="icon">
                <i class="fa-solid fa-floppy-disk"></i>
              </span>
              <span>Save Changes</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<scms-document-form [contentSchema]="contentSchema"
                    [document]="changedDocument"
                    [validationResult]="validationResult"
                    (documentChange)="onDocumentChange($event)">
</scms-document-form>
