<h3 class="title is-3">Edit document</h3>

<scms-doc-path-navbar [contentSchema]="contentSchema"
                      [path]="originalDocument.ref.path"
                      [docId]="originalDocument.ref.docId">
</scms-doc-path-navbar>

<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <div class="control">
            <a class="button"
               [routerLink]="[ '/management', 'stores', contentSchema.name ]">
              <span>Abandon</span>
            </a>
          </div>

          <div class="control">
            <button class="button is-primary"
                    [disabled]="!documentChanged"
                    (click)="saveChanges()">
              <span class="icon">
                <i class="fa-solid fa-floppy-disk"></i>
              </span>
              <span>Save Changes</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

@if (unexpectedServerError) {
  <article class="message is-danger">
    <div class="message-body">
      {{unexpectedServerError}}
    </div>
  </article>
}

<scms-document-form [contentSchema]="contentSchema"
                    [document]="originalDocument"
                    (documentChange)="onDocumentChange($event)">
</scms-document-form>
