<h3 class="title is-3">Create document</h3>

<scms-doc-path-navbar [contentSchema]="contentSchema">
</scms-doc-path-navbar>

<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <div class="control">
            <a class="button"
               [routerLink]="[ '/management', 'stores', contentSchema.name ]">
              <span>Abandon</span>
            </a>
          </div>

          <div class="control">
            <button class="button is-main"
                    [disabled]="!readyToSave"
                    (click)="saveDocument()">
              <span class="icon">
                <i class="fa-solid fa-floppy-disk"></i>
              </span>
              <span>Save Document</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

@if (unexpectedServerError) {
  <article class="message is-danger">
    <div class="message-body">
      {{unexpectedServerError}}
    </div>
  </article>
}

@if (contentSchema.type != ContentType.SINGLETON) {
  <scms-doc-id-input (valueChange)="docId = $event">
  </scms-doc-id-input>
}

@if (contentSchema.type === ContentType.TREE) {
  <scms-doc-path-input (valueChange)="path = $event">
  </scms-doc-path-input>
}

@if (document) {
  <scms-document-form [contentSchema]="contentSchema"
                      [document]="document"
                      (documentChange)="document = $event">
  </scms-document-form>
}
