<div class="field mb-5">
  <label class="label">
    @if (fieldSchema.required) {
      <span class="is-size-6 has-text-danger">* </span>
    }

    <span>{{ fieldSchema.label || fieldSchema.name }}</span>
  </label>

  @if (fieldSchema.description) {
    <article class="message is-small is-info">
      <div class="message-body">
        <p>{{ fieldSchema.description }}</p>
      </div>
    </article>
  }

  <scms-simple-input [fieldSchema]="fieldSchema"
                     [value]="fieldValue"
                     [invalid]="invalid"
                     (valueChange)="fieldValueChange.emit($event)">
  </scms-simple-input>

  @for (error of validationResult?.errors; track error) {
    <p class="help is-danger">{{error}}</p>
  }
</div>
