<h3 class="title is-3">Media Manager</h3>

<scms-media-path-navbar [path]="path"
                        (linkClick)="navigateInManager($event)">
</scms-media-path-navbar>

<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <div class="control">
            <a class="button is-main"
               [routerLink]="uploadLink"
               [relativeTo]="activatedRoute.parent">
              Add media
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

@if (unexpectedServerError) {
  <article class="message is-danger">
    <div class="message-body">
      {{unexpectedServerError}}
    </div>
  </article>
}

<div class="columns is-multiline">
  @for (folder of folders; track folder.branchId) {
    <div class="column column is-4-desktop is-3-widescreen is-half-tablet">
      <p class="has-text-centered">
      <span class="icon is-large">
        <i class="fa-solid fa-3x fa-folder"></i>
      </span>
      </p>

      <p class="has-text-centered">
        <a [routerLink]="[ '.', folder.branchId ]">{{ folder.branchId }}</a>
      </p>
    </div>
  }
</div>

<div class="columns is-multiline">
  @for (media of mediaDocs; track media.docId) {
    <div class="column column is-4-desktop is-3-widescreen is-half-tablet">
      <div class="card">
        <div class="card-content">
          <figure class="image">
            <scms-media-thumbnail [mediaDoc]="media"></scms-media-thumbnail>
          </figure>

          <p style="overflow-wrap: anywhere;">{{ media.docId }}</p>
        </div>

        <footer class="card-footer">
          <a class="card-footer-item">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
            <span>Edit</span>
          </a>
          <a class="card-footer-item"
             (click)="deleteMedia(media)">
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
            <span>Delete</span>
          </a>
        </footer>
      </div>
    </div>
  }
</div>
