<h3 class="title is-3">Documents list</h3>

<scms-doc-path-navbar [contentSchema]="contentSchema">
</scms-doc-path-navbar>

@if (contentSchema.description) {
  <p>{{contentSchema.description}}</p>
}

<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <div class="control">
            <a class="button is-main"
               routerLink="actions/create">
              <span>Add Document</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

@if (documents.length) {
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Document</th>
        <th class="has-text-right">Variants</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (doc of documents; track $index) {
        <tr>
          <td>
            <a [routerLink]="docLink(doc)">
              @if (contentSchema.type === ContentType.SINGLETON) {
                <strong>{{doc.store}}</strong>
              }

              <span class="has-text-grey">{{ doc.path.join('/') }}</span>

              @if (doc.path.length) {
                <span class="has-text-grey">/</span>
              }

              <strong>{{doc.docId}}</strong>
            </a>
          </td>

          <td class="has-text-right">
            <p class="tags is-inline-flex">
              @for (variant of contentSchema!.variants.values; track variant) {
                <a>
                  <span class="tag" [class.is-info]="doc.variants.includes(variant)">{{variant}}</span>
                </a>
              }
            </p>
          </td>

          <td class="has-text-right">
            <div class="field has-addons is-inline-flex">
              <p class="control">
                <a type="button"
                   class="button is-small"
                   title="Edit document"
                   [routerLink]="docLink(doc)">
                  <span class="icon">
                    <i class="fa-solid fa-file-pen"></i>
                  </span>
                </a>
              </p>

              <p class="control">
                <button type="button"
                        class="button is-small is-danger"
                        title="Delete document."
                        (click)="deleteDoc(doc)">
                  <span class="icon">
                    <i class="fa-solid fa-trash"></i>
                  </span>
                </button>
              </p>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <article class="message is-info">
    <div class="message-body">
      Currently store <strong>{{ contentSchema.label || contentSchema.name }}</strong> is empty.
    </div>
  </article>
}
