<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="logo.svg" alt="Logo of Sapphire CMS" />
    </a>

    <a class="navbar-item">
      <div class="tags has-addons">
        <span class="tag is-info">v{{ version }}</span>
      </div>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div scmsDropdown
           class="navbar-item has-dropdown">
        <a class="navbar-link">
          <span>More</span>
        </a>

        <div class="navbar-dropdown is-boxed is-right">
          <a class="navbar-item">
            <span class="icon">
              <i class="fa-solid fa-gear"></i>
            </span>
            <span>Settings</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
