<form>
  @for (fieldSchema of contentSchema.fields; track fieldSchema.name) {
    @if (!fieldSchema.isList) {
      <scms-simple-field [fieldSchema]="fieldSchema"
                         [fieldValue]="getSimpleFieldValue(fieldSchema.name)"
                         [validationResult]="getValidationResults(fieldSchema.name)[0]"
                         (fieldValueChange)="onFieldValueChange(fieldSchema.name, $event)">
      </scms-simple-field>
    } @else {
      <scms-list-field [fieldSchema]="fieldSchema"
                       [fieldValue]="getListFieldValue(fieldSchema.name)"
                       [validationResults]="getValidationResults(fieldSchema.name)"
                       (fieldValueChange)="onFieldValueChange(fieldSchema.name, $event)">
      </scms-list-field>
    }
  }
</form>
